<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="bitvise-ssh-client" />
  <package id="burp-suite-free-edition" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="curl" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetcore-desktopruntime" />
  <package id="dotnetcore-sdk" />
  <package id="dotnetfx" />
  <package id="f.lux.install" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="git.install" />
  <package id="golang" />
  <package id="KB2533623" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="line" />
  <package id="nmap" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus.install" />
  <package id="notion" />
  <package id="openjdk13" />
  <package id="openssl" />
  <package id="OpenSSL.Light" />
  <package id="powertoys" />
  <package id="putty.install" />
  <package id="python" />
  <package id="qdir" />
  <package id="stretchly" />
  <package id="teraterm" />
  <package id="vcredist140" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="winmerge" />
  <package id="WinPcap" />
  <package id="winscp.install" />
  <package id="wireshark" />
</packages>